<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit Task
    </h1>
    <input #TaskTitleInput class="input has-background-light is-medium" type="text"
      placeholder="Enter a list name..." />
    <br />
    <br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-medium is-primary has-text-white" (click)="updateTask(TaskTitleInput.value)">
        Create
      </button>
    </div>
  </div>
</div>
